*{
    margin: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
}

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 'left-margin-top title right-margin-top'
                'left-margin-body main right-margin-body';
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 7fr;
    font-family: 'Comic Sans MS';
}
/*font-family: "Brush Script MT", "Lucida Handwriting", cursive; ,"Tahoma"*/
#title-area{
    grid-area: title;
    font-size: x-large;
    display:flex;
    align-items: end;
    padding-left: 15px;
}
#main{
    grid-area: main;
    padding: 0.5rem 3rem;
    display:grid;
    grid-template-areas: 'announcement announcement'
                            'player-side enemy-side';
    grid-template-rows: 1fr 15fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}
#left-margin-body{
    grid-area: left-margin-body;
}
#title-area,#main{
    border-left: double rgb(184, 72, 119) 0.6rem;
    border-right: double rgba(184, 72, 119, 0.07) 0.6rem;
}
#right-margin-body{
    grid-area: right-margin-body;
}
#left-margin-body,#main,#right-margin-body{
    border-top: solid #779DA9 0.20rem;
}
#announcement{
    display:flex;
    justify-content: center;
    grid-area: announcement;
    font-size: larger ;
}

#player-side{
    grid-area: player-side;
}
#enemy-side{
    grid-area: enemy-side;
}

#player-grid,#enemy-grid,#selection-grid{
    border: solid #858C92  0.26rem;
    aspect-ratio: 1;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 0.13rem;
    background-color: #858C92;
}
dialog[open]{
    margin: auto;
    align-self: center;
    height: 100vh;
    padding: 10px 30px;
    display: grid;
    gap: 10px;
    /*grid-template-rows: 2fr 10fr 1fr;*/
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'title'
                        'grid'
                        'controls';
}

dialog::backdrop{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

#controls{
    display: flex;
    justify-content: space-evenly;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #858C92;
    color: white;
    font-weight: 700;
}